body {
    width: auto;
    margin: 0 auto;
    box-sizing: content-box;
    background-color: black;
    text-align: center;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
}

a {
    font-size: 16px;
    color: aquamarine;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
}

footer {
    text-align: right;
    color: gray;
}