body {
    width: auto;
    margin: 0 auto;
    padding-inline: 20px;
    box-sizing: content-box;
    background-color: black;
    text-align: center;
}

section {
    padding: 20px;
}

.main-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
}

a {
    font-size: 16px;
    color: aquamarine;
}

.sub-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
    color: white;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
}

footer {
    text-align: right;
    color: gray;
}